<h3>Instructions to set Password</h3>

<div>
    Setting your Total Script Blocker II<br/>
    password is simple once you've done it for the first time. Simply<br/>
    follow these steps:
</div>

<MudCard>
    <MudCardHeader>
        Step 1:
        Navigate to the Total Script Blocker FolderOpen the Total Script Blocker Google<br/>
        Chrome extension folder. The location of this folder is shown below. You can go there by directly<br/>
        copying and pasting the appropriate address below into the location bar of a folder : 
    </MudCardHeader>
    
    <MudCardContent>
        <MudTable Items="@_passwordInfos"
                  Hover="true"
                  Breakpoint="Breakpoint.Sm" L
                  oading="@_loadingPasswordInfos"
                  LoadingProgressColor="Color.Info">
        
            <HeaderContent>
                <MudTh>Os Family</MudTh>
                <MudTh>Path</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Os">@context.Os</MudTd>
                <MudTd DataLabel="Path to extension">@context.Path</MudTd>
            </RowTemplate>
        </MudTable>
        
        <MudCard>
            <MudCardHeader Style="@Typo.body1">Note: For <b>Windows</b> users</MudCardHeader>
            Replace YOUR_USER_NAME to the user name to
            you are logged onto under Windows. If you're using Windows Explorer to
            navigate to the folder, you might need to set <b>Show hidden files and folders</b>
            in Tools Folder Options... View
            
            For convenience, it is recommended that you make a shortcut to this
            folder on your desktop or somewhere handy so that you can quickly reset
            the Total Script Blocker password after an update.
        </MudCard>
    </MudCardContent>
</MudCard>


<MudCard>
    <MudCardHeader>
        Step 2: Open the Total Script Blocker Password File
    </MudCardHeader>
    <MudCardContent>
        Open the file CHANGE__PASSWORD__HERE.js
                for editing. For Windows users, do this by right-clicking on the file
                and selecting&nbsp;<span style="font-weight: bold; font-style: italic;">Edit</span>
                from the right-click menu. This will open up the file in NotePad for
                you to enter your Total Script Blocker password.
    </MudCardContent>
</MudCard>
    

<MudCard>
    <MudCardHeader>
        Step 3: 
        Set the Total Script Blocker Password
        Choose a password for Total Script Blocker with the following restrictions
    </MudCardHeader>
    
    <MudCardContent>
        <div style="margin-left: 80px;">
            <div>
                <span style="font-weight: bold;">Length:</span> 20 minimum,
                100 maximum<br>
                <span style="font-weight: bold;">Allowed Characters:</span>
                abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_1234567890<br>
                <span style="font-weight: bold;">Spaces:</span>
                Allowed<br>
            </div>
            &nbsp;<br>
            Put the password in between the quotes of the line that reads:<br>
            <br>
        
            <div>
                <span style="font-weight: bold; font-style: italic;">
                    const
                    ENCRYPTION_PASSWORD = "";
                </span>
            </div>
            <br>
            Example: <span style="font-style: italic;">FNqzJmJBA1GQFhuXBmEq20MqEqbn55w3MtT</span><br>
            It should look like this after (except with your own password):<br>
        
            <div>
                <br style="font-weight: bold; font-style: italic;">
                <span style="font-weight: bold; font-style: italic;">
                    const
                    ENCRYPTION_PASSWORD = "FNqzJmJBA1GQFhuXBmEq20MqEqbn55w3MtT";
                </span>
            </div>
            Save the file and close it when finished.
        </div>
    </MudCardContent>
</MudCard>


<MudCard>
    <MudCardHeader>
        Step 4: Restart Google Chrome
    </MudCardHeader>
    
    <MudCardContent>
        <div style="margin-left: 80px;">
            Close and restart Google
            Chrome for the new password to take effect in Total Script Blocker. You are done!<br>
        </div>
        
        <h4>Backing Up Your Password File for Future Use</h4>
        
        <div>
            When Total Script Blocker updates or
            you try to use Total Script Blocker on a different computer for the first
            time&nbsp;with Google Chrome Sync, you will be required to provide
            the password. It is highly recommended that you store a backup copy of
            your password or password file somewhere handy for these purposes.<br>
        </div>
    </MudCardContent>
</MudCard>






@code {
        private const bool FixedHeader = true;

    private bool _loadingPasswordInfos { get; set; }
   
    private readonly IEnumerable<PasswordInfo> _passwordInfos = PasswordInfo.GetPasswordInfos();


    private record PasswordInfo
    {
        internal static IEnumerable<PasswordInfo> GetPasswordInfos()
        {
            return new List<PasswordInfo>()
                   {
                       new PasswordInfo()
                       {
                           Os = "Windows XP",
                           Path = @" %userprofile%\Local\Settings\Application Data\Google\Chrome\User Data\Default\Extensions\"
                       },
                       new PasswordInfo()
                       {
                           Os = "Windows Vista or 7",
                           Path = @"%userprofile%\AppData\Local\Google\Chrome\User Data\Default\Extensions\"
                       },
                       new PasswordInfo()
                       {
                           Os = "Mac OS X",
                           Path = @"~/Library/Application Support/Google/Chrome/Default/Extensions/"
                       },
                       new PasswordInfo()
                       {
                           Os = "Linux",
                           Path = @"~/.config/google-chrome/Default/Extensions"
                       }
                   };
        }
        
        public string Os { get; set; }
        
        public string Path { get; set; }
    }
}